interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://app.ticketmaster.com/discovery/v2/events.json?apikey=__CHANGEME__
  response:
    body:
      string: "{\"_embedded\":{\"events\":[{\"name\":\"Hamilton (Touring)\",\"type\"\
        :\"event\",\"id\":\"G5dIZpkRF_fgb\",\"test\":false,\"url\":\"https://www.ticketmaster.com/hamilton-touring-houston-texas-08-08-2020/event/3A00586BC8654D58\"\
        ,\"locale\":\"en-us\",\"images\":[{\"ratio\":\"3_2\",\"url\":\"https://s1.ticketm.net/dam/a/300/88bcb3d0-aa78-428d-ad10-52514ea72300_570131_RETINA_PORTRAIT_3_2.jpg\"\
        ,\"width\":640,\"height\":427,\"fallback\":false},{\"ratio\":\"16_9\",\"url\"\
        :\"https://s1.ticketm.net/dam/a/300/88bcb3d0-aa78-428d-ad10-52514ea72300_570131_RECOMENDATION_16_9.jpg\"\
        ,\"width\":100,\"height\":56,\"fallback\":false},{\"ratio\":\"4_3\",\"url\"\
        :\"https://s1.ticketm.net/dam/a/300/88bcb3d0-aa78-428d-ad10-52514ea72300_570131_CUSTOM.jpg\"\
        ,\"width\":305,\"height\":225,\"fallback\":false},{\"ratio\":\"16_9\",\"url\"\
        :\"https://s1.ticketm.net/dam/a/300/88bcb3d0-aa78-428d-ad10-52514ea7[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app.ticketmaster.com/discovery/v2/events.json?page=1&size=20&apikey=__CHANGEME__
  response:
    body:
      string: "{\"_embedded\":{\"events\":[{\"name\":\"Hamilton (Touring)\",\"type\"\
        :\"event\",\"id\":\"G5dIZpkRF5fSq\",\"test\":false,\"url\":\"https://www.ticketmaster.com/hamilton-touring-houston-texas-07-21-2020/event/3A00586BC82D4CDD\"\
        ,\"locale\":\"en-us\",\"images\":[{\"ratio\":\"3_2\",\"url\":\"ht[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://app.ticketmaster.com/discovery/v2/events.json?page=2&size=20&apikey=__CHANGEME__
  response:
    body:
      string: '{"_embedded":{"events":[{"name":"Hamilton (Touring)","type":"event","id":"G5dIZpkRFAfwV","test":false,"url":"https://www.ticketmaster.com/hamilton-touring-houston-texas-07-14-2020/event/3A00586BC8154CB4","locale":"en-us","images":[{"ratio":"3_2","url":"https://s1.ticketm.net/dam/a/300/88bcb3d0-aa78-428d-ad10-52514ea72300_570131_RETINA_PORTRAIT_3_2.jpg","width":640,"height":427,"fallback":false},{"ratio":"16_9","url":"https://s1.ticketm.net/dam/a/300/88bcb3d0-aa78-428d-ad10-52514ea72300_570131_RECOMENDATION_16_9.jpg","width":100,"height":56,"fallback":fal[...]
